header {
    width: 100%;
    display: flex;
}

header nav {
    position: relative;
    top: 200px;
}

.tudoh {
    display: flex;
}

.welcome {
    width: 100%;
    height: 300px;
    
    background-image: url('img/sunnySky.png');
}

.morning {
    width: 30%;
    height: 500px;    

    background-image: url('img/logo.png');
}

.afternoon {
    width: 30%;
    height: 500px;

    background-image: url('img/icon1.png');
}

.night {
    width: 30%;
    height: 500px;

    background-image: url('img/home.png');
}

.hidden {
    opacity: 1;
    background-color: aqua;
}

.list h1 {
    background-color: aqua;
}

#inputSection {
    width: 100%;
    display: flex;
}

#addInput {
    width: 30%;
}
