header {
    width: 100%;
    display: flex;
}

header nav {
    position: relative;
    top: 200px;
}

.tudoh {
    display: flex;
}

.welcome {
    width: 100%;
    height: 300px;
    
    background-image: url('img/sunnySky.png');
}

.morning {
    width: 30%;
    height: 500px;    

    background-image: url('img/logo.png');
}

.afternoon {
    width: 30%;
    height: 500px;

    background-image: url('img/icon1.png');
}

.night {
    width: 30%;
    height: 500px;

    background-image: url('img/home.png');
}

.hidden {
    opacity: 1;
    background-color: aqua;
}

#inputSection {
    background-color: aqua;
    width: 100%;
    display: block;

    justify-content: center;
    align-items: center;
}

.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;

}

#listInput {
    width: 70%;
    height: 38px;
}

#addInput {
    width: 30%;
    border-radius: 0;
}

#ulContent li:hover {
    background-color: #D4D4D4;
    cursor: pointer;
}

ul .clicked {
    background-color: rgb(6, 128, 128);
}
